<!DOCTYPE html>
<html>
<head>
	<title>Imageboard</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum_app/css/style.css' %}">
    <link rel="icon" href="{% static 'forum_app/img/favicon.ico' %}">
</head>
<body>
	<div class="container">
		<h1 class="center">404</h1>
		<p class="center">
			This is probably now what you are looking for... 
			<a href="/">Back</a>
		</p>
	</div>
</body>
</html>